{% extends "notifications/layout.html" %}

{% block title %}
    New Group Member - Borrow'd
{% endblock %}

{% block content %}
    <h2>
        Hi {{ group_member_name }},
    </h2>

    <div class="info">
        Just a quick heads up, <strong>{{ new_member_name }}</strong> has joined your {{ group_name }} group on Borrow'd.
    </div>

    <p>
        You're always in control of your sharing. If you'd like, you can update your trust level for this group anytime in your settings.
    </p>

    <p>
        Thanks for helping build a community where sharing is second nature!
    </p>

    <p>
        The Borrow'd team
    </p>
{% endblock %}
