{% extends "notifications/layout.html" %}

{% block title %}
    Item Returned - Borrow'd
{% endblock %}

{% block content %}
    <h2>
        Hi {{ item_owner_name }},
    </h2>

    <div class="success">
        <strong>{{ requester_name }} has marked your {{ item_name }} as returned. It’s now available again for your group to borrow.</strong>
    </div>

    <div class="info">
        <p>
            Thanks for being part of a community that shares what we already have. Every time we borrow instead of buy, we reduce waste and lighten our impact.
        </p>
    </div>

    <p>
        The Borrow'd team
    </p>
{% endblock %}
