{% extends "notifications/layout.html" %}

{% block title %}
    You requested to be notified - Borrow'd
{% endblock %}

{% block content %}
    <h2>
        Hi {{ subscriber_name }},
    </h2>

    <p>
        Your request to be notified about <strong>{{ item_name }}</strong> has been processed.
    </p>

    <p>
        You will be notified as soon as it becomes available.
    </p>
    <p>
        You can monitor the item status at any time using the link below.
    </p>

    <div class="text-center">
        <a href="{{ item_url }}" class="button">View item</a>
    </div>

    <p>
        Thanks for borrowing thoughtfully!
    </p>

    <p>
        The Borrow'd team
    </p>
{% endblock %}
