{% extends "layouts/auth_card.html" %}

{% load i18n %}

{% block auth_title %}
    {% trans "Reset Password" %}
{% endblock %}
{% block auth_mobile_title %}
    {% trans "Forgot password" %}
{% endblock %}

{% block auth_content %}
    {% if form.non_field_errors %}
        <div class="alert alert-error text-sm py-2">
            {{ form.non_field_errors }}
        </div>
    {% endif %}

    <p class="text-sm text-base-content leading-5">
        {% trans "Enter your email address for your account and we will send you instructions on how to reset it." %}
    </p>

    <form method="post" class="flex flex-col gap-4">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
            {{ field }}
        {% endfor %}

        <c-form.field label="{% trans 'Email' %}"
                      type="email"
                      name="email"
                      id="id_email"
                      placeholder="{% trans 'Email' %}"
                      value="{{ form.email.value|default:'' }}"
                      autocomplete="email"
                      errors="{{ form.email.errors|join:', ' }}" />

        <c-button type="submit" class="btn btn-primary w-full">
            {% trans "Continue" %}
        </c-button>

    </form>
{% endblock %}
