{% extends "layouts/auth_card.html" %}

{% load i18n %}

{% block auth_title %}
    {% trans "Password Reset Sent" %}
{% endblock %}
{% block auth_mobile_title %}
    {% trans "Check your email" %}
{% endblock %}

{% block auth_content %}
    <div class="flex flex-col gap-6">
        <p class="text-sm text-base-content leading-5">
            {% trans "We've just sent Password Reset Instructions to you. If you don't receive it shortly, please check your spam folder." %}
        </p>

        <a href="{% url 'account_login' %}" class="btn btn-primary w-full">
            {% trans "Return to Log In" %}
        </a>
    </div>
{% endblock %}
