{% extends "layouts/default.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
    <div class="flex flex-col w-full max-w-2xl mx-auto px-4 py-4 gap-6">

        {% url 'profile' as profile_url %}
        {% include "components/page_header.html" with title=_("Change password") back_url=profile_url %}

        {# ── Security ──────────────────────────────────────────────────── #}
        <section class="flex flex-col gap-2">

            {% url 'account_change_password' as action_url %}
            <form method="post"
                  action="{{ action_url }}"
                  class="card bg-primary-content rounded-md border border-gray-200 shadow-[0_1px_3px_rgba(0,0,0,0.1),0_1px_2px_rgba(0,0,0,0.06)] p-4 flex flex-col gap-4">
                {% csrf_token %}
                {{ redirect_field }}

                <c-form.field label="New password"
                              name="password1"
                              id="id_password1"
                              type="password"
                              autocomplete="new-password"
                              placeholder="New password"
                              show_toggle="true"
                              help_text="Use 8+ characters and upper and lower cases."
                              errors="{{ form.password1.errors.0 }}" />

                <c-form.field label="Repeat password"
                              name="password2"
                              id="id_password2"
                              type="password"
                              autocomplete="new-password"
                              placeholder="Repeat password"
                              show_toggle="true"
                              errors="{{ form.password2.errors.0 }}" />
                <div class="flex pt-4 justify-end items-start gap-4 md:flex-col md:gap-3">
                    <c-button-nav url="{% url 'profile' %}" class="btn btn-ghost md:w-full md:order-2">
                        {% trans "Cancel" %}
                    </c-button-nav>
                    <c-button type="submit" class="btn btn-primary md:w-full md:order-1">
                        {% trans "Change password" %}
                    </c-button>
                </div>
            </form>
        </section>

    </div>
{% endblock content %}
