{% extends "layouts/auth_card.html" %}

{% load i18n static %}

{% block auth_title %}
    {% trans "Change Password" %}
{% endblock %}
{% block auth_container_class %}
    md:bg-white md:rounded-2xl md:shadow-sm md:border md:border-base-200 flex flex-col justify-center items-center w-full md:max-w-[485px] md:mx-auto md:p-12 gap-6
{% endblock %}
{% block auth_illustration %}
{% endblock %}
{% block auth_logo %}
{% endblock %}
{% block auth_form_class %}
    w-full flex flex-col justify-center p-3 md:p-0
{% endblock %}
{% block auth_fieldset_class %}
    md:border-0 md:rounded-none md:p-0
{% endblock %}

{% block auth_content %}
    {% if not token_fail %}
        <div class="relative flex items-center justify-center mb-2">
            <div class="absolute left-0">
                <a href="{% url 'account_login' %}">
                    <img src="{% static 'icons/back-arrow.svg' %}"
                         alt="Back"
                         width="20"
                         height="17" />
                </a>
            </div>
            <h4 class="text-2xl font-normal leading-[120%] text-gray-800 text-center">
                {% trans "Change password" %}
            </h4>
        </div>
    {% endif %}

    {% if token_fail %}
        {% include "account/password_reset_from_key_invalid.html" %}

    {% else %}
        {% if form.non_field_errors %}
            <div class="alert alert-error text-sm py-2">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <form method="post"
              action="{{ action_url }}"
              class="flex flex-col gap-4 md:gap-4">
            {% csrf_token %}
            {{ redirect_field }}

            <c-form.field label="{% trans 'Password' %}"
                          type="password"
                          name="password1"
                          id="id_password1"
                          placeholder="Password"
                          autocomplete="new-password"
                          required="true"
                          show_toggle="true"
                          help_text="{% trans 'Use 8+ characters and upper and lower cases.' %}"
                          errors="{{ form.password1.errors.0 }}" />

            <c-form.field label="{% trans 'Repeat password' %}"
                          type="password"
                          name="password2"
                          id="id_password2"
                          placeholder="Repeat password"
                          autocomplete="new-password"
                          required="true"
                          show_toggle="true"
                          errors="{{ form.password2.errors.0 }}" />
            <div class="flex pt-4 justify-end items-start gap-4 md:flex-col md:gap-3">
                <c-button-nav url="{% url 'account_login' %}"
                              class="btn btn-ghost md:w-full md:order-2">
                    {% trans "Cancel" %}
                </c-button-nav>
                <c-button type="submit" class="btn btn-primary md:w-full md:order-1">
                    {% trans "Change password" %}
                </c-button>
            </div>
        </form>
    {% endif %}

{% endblock %}
