{% load i18n static %}

<div class="flex flex-col gap-6">
    <div class="flex flex-col gap-3">
        <div class="flex items-center justify-center w-12 h-12 rounded-full bg-error/10 mx-auto">
            <img src="{% static 'icons/x-mark.svg' %}"
                 alt=""
                 class="w-6 h-6 text-error" />
        </div>
        <h4 class="text-xl font-semibold text-base-content text-center">
            {% trans "Link expired" %}
        </h4>
        <p class="text-sm text-base-content leading-5 text-center">
            {% trans "This password reset link is invalid or has already been used. Please request a new one." %}
        </p>
    </div>
    <c-button-nav url="{% url 'account_reset_password' %}"
                  class="btn btn-primary w-full">
        {% trans "Request new reset link" %}
    </c-button-nav>
    <c-button-nav url="{% url 'account_login' %}" class="btn btn-ghost w-full">
        {% trans "Back to log in" %}
    </c-button-nav>
</div>
