{% extends "layouts/auth_card.html" %}

{% load i18n static %}

{% block auth_title %}
    {% trans "Password Changed" %}
{% endblock %}

{% block auth_container_class %}
    md:bg-white md:rounded-2xl md:shadow-sm md:border md:border-base-200 flex flex-col justify-center items-center w-full md:max-w-[485px] md:mx-auto md:p-12 gap-6
{% endblock %}
{% block auth_illustration %}
{% endblock %}
{% block auth_logo %}
{% endblock %}
{% block auth_form_class %}
    w-full flex flex-col justify-center p-3 md:p-0
{% endblock %}
{% block auth_fieldset_class %}
    md:border-0 md:rounded-none md:p-0
{% endblock %}

{% block auth_content %}
    <div class="flex flex-col gap-6">
        <div class="flex flex-col gap-3">
            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-success/10 mx-auto">
                <img src="{% static 'icons/check.svg' %}" alt="" class="w-6 h-6" />
            </div>
            <h4 class="text-xl font-semibold text-base-content text-center">
                {% trans "Password changed" %}
            </h4>
            <p class="text-sm text-base-content leading-5 text-center">
                {% trans "Your password has been successfully changed. You can now log in with your new password." %}
            </p>
        </div>

        <a href="{% url 'account_login' %}" class="btn btn-primary w-full">
            {% trans "Log in" %}
        </a>
    </div>
{% endblock %}
