{% load i18n %}
{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        {% block extra_head %}
        {% endblock extra_head %}
        <link rel="icon" type="image/png" href="{% static 'favicon.png' %}" />
        {% vite_hmr_client %}
        {% vite_asset 'static/js/main.js' %}
        <style>
            p a {
                color: #2563eb; /* Tailwind blue-600 */
                font-weight: 600;
            }

            p a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        {% block body %}
            {% include "includes/messages.html" %}
            {% include "includes/header.html" %}

            {% block content_base %}
            {% endblock content_base %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
        {% include "includes/footer.html" %}

    </body>
</html>
