{% extends "groups/layout.html" %}

{% block head_title %}
    Group Invite
{% endblock %}

{% block groups_content %}
    <c-box>
        <div class="flex flex-col items-center">
            <c-h1>
                {{ object.name }}
            </c-h1>
            <c-h2 class="text-gray-500 mb-4">
                Invite link
            </c-h2>
            <canvas data-qr-value="{{ join_url }}" class="mb-4"></canvas>
            <p class="text-gray-700 mb-4 break-all whitespace-normal overflow-hidden"
               id="join-link">
                {{ join_url }}
            </p>
            <c-button @click.prevent="onShareClick">
                Copy link
            </c-button>
        </div>
    </c-box>
    <script>
    function onShareClick(e) {
        const inviteLink = document.getElementById('join-link').innerText;

        navigator.clipboard.writeText(inviteLink)
            .then(() => {
                alert('Invite link copied to clipboard!');
            })
            .catch(err => {
                console.error('Failed to copy text: ', err);
            });
    }
    </script>
{% endblock %}
