{% extends "groups/layout.html" %}

{% block head_title %}
    Groups
{% endblock %}
{% block groups_content %}

    <div class="flex flex-col space-y-4 ">
        <c-h1 class="text-center text-3xl font-normal mb-4">
            Groups
        </c-h1>
        <!-- Toggle and Create Group Button -->
        <div class="flex items-center justify-between w-full">
            <label class="flex items-center gap-2 {% if has_groups %}cursor-pointer{% else %}cursor-not-allowed opacity-50{% endif %}">
                <input type="checkbox"
                       id="moderator-toggle"
                       name="moderator_only"
                       value="true"
                       class="toggle toggle-sm"
                       {% if not has_groups %}disabled{% endif %}
                       {% if request.GET.moderator_only == "true" %}checked{% endif %}
                       hx-get="{% url 'borrowd_groups:group-list' %}"
                       hx-include="[name='moderator_only']:checked"
                       hx-target="#groups-card-container"
                       hx-swap="outerHTML"
                       hx-push-url="true"
                       hx-trigger="change" />

                <span class="text-sm font-normal text-base-content">Groups I manage</span>
            </label>
            <c-button-nav class="btn btn-soft text-primary btn-sm"
                          url="{% url 'borrowd_groups:group-create' %}">
                Create group
            </c-button-nav>
        </div>
        <!-- Groups Card Container -->
        <div id="groups-card-container">
            {% include "groups/group_list_card.html" %}

            <!-- <form method="get">
                    {{ filter.form.as_p }}
                    <input type="submit" value="Filter" class="bg-blue-500 text-white px-4 py-2 rounded">
                    {% comment %}
                    Only show the Clear button if filters are actually set.
                    This looks a bit awkward in order to account for empty filters,
                    i.e. `?category=&search=`
                    TODO: Replace this with Alpine.js logic later
                    when we're also using HTMX to avoid page reloads here.
{% endcomment %}
                    {% if not request.GET.values|join:"" == "" %}
                    <c-button-nav url="{% url 'borrowd_groups:group-list' %}" class="btn btn-ghost">Clear</c-button-nav>
                    {% endif %}
                </form> -->
        </div>
    </div>
{% endblock %}
