{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/favicon.ico" sizes="32x32">
        <link rel="icon" href="{% static 'icon.svg' %}" type="image/svg+xml">
        <title>
            {% block head_title %}
            {% endblock %}
        - Borrow'd 🐝</title>
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
        <script defer
                src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"></script>
        <!-- Plausible Analytics -->
        <script defer
                data-domain="app.borrowd.org"
                src="https://plausible.io/js/script.js"></script>
        {% vite_hmr_client %}
        {% vite_asset 'static/js/main.js' %}
    </head>
    <body x-data
          class="flex flex-col justify-center min-h-screen bg-base-200"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {% if borrowd_beta_enabled %}
            {% include "includes/beta.html" %}

        {% endif %}
        {% include "includes/messages.html" %}

        {% if user.is_authenticated %}
            {% include "includes/header.html" %}

        {% endif %}

        {% block layout %}
        {% endblock %}

        {% include "includes/footer.html" %}

        <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    </body>
</html>
