{% with pk=photo.pk|stringformat:"s" %}
    {% if view.object.photos.count == 1 %}
        {% include "components/modal.html" with modal_id="item-photo-delete-modal-"|add:pk modal_title="Your item should have at least one picture" modal_content_template="items/_photo_delete_last_content.html" cancel_button_text="No, cancel" confirm_button_text="Yes, delete" confirm_submit_form_id="item-photo-delete-form-"|add:pk cancel_button_class="btn btn-soft rounded-sm" confirm_button_class="btn btn-error btn-soft rounded-sm" %}

    {% else %}
        {% include "components/modal.html" with modal_id="item-photo-delete-modal-"|add:pk modal_title="Are you sure you want to delete your photo?" cancel_button_text="No, cancel" confirm_button_text="Yes, delete" confirm_submit_form_id="item-photo-delete-form-"|add:pk cancel_button_class="btn btn-soft rounded-sm" confirm_button_class="btn btn-error btn-soft rounded-sm" %}

    {% endif %}
{% endwith %}
