{% extends "layouts/default.html" %}

{% block content %}
    <div class="w-full px-[32px] self-start rounded-md md:w-[500px] lg:w-[700px]">
        {% include "components/page_header.html" with title=_("Profile") %}

        <div class="lg:py-[30px] w-full flex flex-col justify-center items-center self-stretch gap-5 px-[16px] py-[14px] rounded-[4px] shadow-2xl mt-5 bg-white">
            {% if profile_context.profile_image_url %}
                <img src="{{ profile_context.profile_image_url }}"
                     alt="Profile Picture"
                     id="avatar-preview" />
            {% else %}
                <img class="rounded-full w-20 h-20"
                     src="https://ui-avatars.com/api/?name={{ profile_context.full_name|urlencode }}&background=random"
                     alt="Profile Picture"
                     id="avatar-preview" />
            {% endif %}
            <div class="text-black text-center font-inter text-base font-medium leading-normal tracking-[-0.5px]">
                {{ profile_context.full_name }}
            </div>
            <div class="text-center font-inter text-sm font-normal leading-normal tracking-[-0.5px]">
                {{ profile_context.bio|default:"This user hasn't added a bio yet." }}
            </div>
            {% if profile_context.email %}
                <div class="text-[#757575]">
                    <span class="font-semibold">Email:</span> {{ profile_context.email }}
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
